<a href="https://colab.research.google.com/github/rcleoni/202011-web-scraping/blob/master/s3e4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
6+3

9

In [2]:
6-3

3

In [3]:
6*3

18

In [4]:
6/3

2.0

In [5]:
3 * (12 + ((3 + 2) - 5 * 3) * 5)

-114

In [6]:
a = 6 + 3

In [9]:
b = 6 - 3

In [10]:
c = 6 * 3

In [11]:
d = 6 / 3

In [12]:
print(a)

9

In [13]:
print(b)

3

In [14]:
print(a + b)
print(3 * b)
print(3 * a + 2 * b + 5 * c + 4 * d)

12
9
131.0

In [16]:
a = float(22/5)
b = int(4.5)
c = int(3.9)
print(a)
print(b)
print(c)

4.4
4
3

In [17]:
print(a + b)

8.4

In [18]:
type(a + b)

float

In [21]:
operador_bool_verdadeiro = True
operador_bool_falso = False

In [22]:
a = 3
b = 5
print(a > b)
print(a == (b - 2))
print((a * 5) != (b * 3))

False
True
False

In [23]:
string_aspas_simples = 'ciencia de dados'
string_aspas_duplas = "ciencia de dados"
print(string_aspas_simples)
print(string_aspas_duplas)

ciencia de dados
ciencia de dados

In [26]:
nome = 'Dino'
sobrenome = "da Silva Sauro"
idade = 43
print(nome + sobrenome + idade)

TypeError: can only concatenate str (not "int") to str

In [27]:
print(f"Nome completo: {nome} {sobrenome}. Idade: {idade}")

Nome completo: Dino da Silva Sauro. Idade: 43

In [28]:
# Nome do cliente
nome = 'Dino'
# Sobrenome do cliente
sobrenome = "da Silva Sauro"
# Idade do cliente
idade = 43 # valor numerico
# Imprimindo um texto na tela
print(f"Nome completo: {nome} {sobrenome}. Idade: {idade}")

Nome completo: Dino da Silva Sauro. Idade: 43

In [32]:
# Funcao que calcula o dobro de um numero
def dobro(x):
  """Insira aqui um texto documental (opcional) que explique o que a funcao faz. Por exemplo, esta funcao multiplica sua
  entrada por 2.
  """
  return x * 2

In [33]:
# Testando a nova funcao
print(dobro(5))
print(dobro(-5))
print(dobro(.5))

10
-10
1.0

In [34]:
# Funcao que calcula o salario anual
def salario_anual(salario_mensal):
  """Funcao que calcula o salario anual (considerando o 13o salario) """
  return print(f"O salario anual e de R$ {salario_mensal * 13}")

In [35]:
# Teste
salario_anual(2500)

O salario anual e de R$ 32500

In [36]:
# Funcao que escreve o nome completo do cliente
def nome_completo(nome = "Nome", sobrenome = "Sobrenome"):
  return nome + " " + sobrenome

In [37]:
# Testes
print(nome_completo('Dino', 'da Silva Sauro')) # 'Dino da Silva Sauro'

Dino da Silva Sauro

In [39]:
print(nome_completo(sobrenome = 'da Silva Sauro', nome = 'Dino')) # 'Dino da Silva Sauro'

Dino da Silva Sauro

In [40]:
print(nome_completo(sobrenome = 'da Silva Sauro')) # "Nome da Silva Sauro"

Nome da Silva Sauro

In [44]:
########## Exemplo (Nao rode) !!!!!!
if 1 > 2:
  # Se 1 e maior que 2, faca...
elif 1 > 3:
  # 'elif' significa 'else if' (senao se...) [opcional]
  # Se 1 e maior que 3, faca ...
else:
  # Caso todas as condicoes sejam falsas, faca... (opcional)

IndentationError: expected an indented block after 'if' statement on line 2 (<ipython-input-44-bca103510cbb>, line 4)

In [46]:
# Funcao que calcula o salario anual
def salario_anual(salario_mensal):
  """Funcao que calcula o salario anual (considerando o 13o salario) """
  if salario_mensal > 0:
      resultado = f"O salario anual e de R$ {salario_mensal * 13}"
  else:
      resultado = "O salario deve ser um valor positivo"
  return print(resultado)

In [47]:
# Teste
salario_anual(-2500)
salario_anual(2500)

O salario deve ser um valor positivo
O salario anual e de R$ 32500

In [58]:
# ERRO NO MATERIAL
# range(k) e uma funcao que cria uma sequencia de 0 ate (k - 1).
# Exemplo: range(10) sera a sequencia 0, 1, 2, ..., 9

for x in range(10):
  print (f"{x} +  e menor do que 10")

0 +  e menor do que 10
1 +  e menor do que 10
2 +  e menor do que 10
3 +  e menor do que 10
4 +  e menor do que 10
5 +  e menor do que 10
6 +  e menor do que 10
7 +  e menor do que 10
8 +  e menor do que 10
9 +  e menor do que 10

In [60]:
lista_numeros = [1, 2, 3] # somente numeros (floats)

In [61]:
lista_mista = ["string", 0.1, True] # string, float, bool

In [63]:
# combinando as 2 listas anteriores com uma vazia
lista_de_listas = [lista_numeros, lista_mista, []]

In [64]:
comprimento_lista = len(lista_numeros) # 3 elementos

In [65]:
soma_lista = sum(lista_numeros) # 6 (soma dos elementos numericos)

In [66]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [67]:
zero = x[0] # primeiro elemento de x - listas comecam com indice zero!

In [68]:
um = x[1] # segundo elemento de x

In [69]:
nove = x[-1] # ultimo elemento de x

In [70]:
oito = x[-2] # penultimo elemento de x

In [71]:
x[0] = -1 # agora x e [-1, 1, 2, 3, ..., 9]

In [72]:
primeiros_tres = x[:3] # [-1, 1, 2]

In [73]:
quarto_em_diante = x[3:] # [3, 4, ..., 9]

In [74]:
segundo_ate_quinto = x[1:5] # [1, 2, 3, 4]

In [75]:
ultimos_tres = x[-3:] # [7, 8, 9]

In [76]:
sem_primeiro_e_ultimo = x[1:-1] # [1, 2, ..., 8]

In [77]:
copia_de_x = x[:] # [-1, 1, 2, ..., 9]

In [78]:
a_cada_tres = x[::3] # [-1, 3, 6, 9] -> primeiro, quarto, setimo...

In [79]:
sexto_ao_quarto = x[5:2:-1] # [5, 4, 3]

In [80]:
print(1 in [1, 2, 3]) # True

True

In [81]:
print(0 in [1, 2, 3]) # False

False

In [82]:
# Lista de clientes
clientes = ["Nero", "Atum", "Bois", "Alvares"]

In [84]:
#Iterando ID e nome dos clientes
for id, nome in enumerate(clientes):
  print(f"O id {id} pertence ao cliente {nome}")

O id 0 pertence ao cliente Nero
O id 1 pertence ao cliente Atum
O id 2 pertence ao cliente Bois
O id 3 pertence ao cliente Alvares

In [85]:
# String
info_cliente = "Dino da Silva Sauro gosta de ler livros de ficcao cientifica"

In [86]:
# Metodo find: retorna em qual caracter se inicia a string 'Sauro'
print(info_cliente.find('Sauro')) # 14
print(info_cliente.find('Texto_inexistente')) # -1 (nao contem)

14
-1

In [88]:
# Metodo replace: substitui uma string por outra
info_cliente.replace('Dino', 'Nome')
# Note que o resultado nao e salvo
print(info_cliente)

Dino da Silva Sauro gosta de ler livros de ficcao cientifica

In [89]:
# Metodo split: cria uma lista separando cada string
info_cliente.split()

['Dino',
 'da',
 'Silva',
 'Sauro',
 'gosta',
 'de',
 'ler',
 'livros',
 'de',
 'ficcao',
 'cientifica']

In [90]:
# Metodo upper: todas as letras maiusculas
info_cliente.upper()

'DINO DA SILVA SAURO GOSTA DE LER LIVROS DE FICCAO CIENTIFICA'

In [91]:
# Metodo lower: todas as letras minusculas
info_cliente.lower()

'dino da silva sauro gosta de ler livros de ficcao cientifica'

In [93]:
# Metodo strip: retira espacos em branco extra do inicio e final
txt = " muito espaco branco antes e depois           "
txt.strip()

'muito espaco branco antes e depois'

In [95]:
# Lista de clientes
clientes = ["Nero", "Atum", "Bois", "Alvares"]

In [97]:

# Metodo append: adiciona elementos ao fim da lista (um de cada vez)
clientes.append("Teatro")
clientes.append("Zinco")
clientes.append("Ameis")

In [98]:
# Note que este metodo ALTERA a lista original
print(clientes)

['Nero', 'Atum', 'Bois', 'Alvares', 'Teatro', 'Zinco', 'Ameis', 'Bete', 'Biscoito', 'Love', 'Teatro', 'Zinco', 'Ameis']

In [101]:
# Metodo extend: adiciona uma lista ao fim da lista
clientes.extend(["Bete", "Biscoito", "Love"])

In [102]:
# Note que este metodo ALTERA a lista original
print(clientes)

['Nero', 'Atum', 'Bois', 'Alvares', 'Teatro', 'Zinco', 'Ameis', 'Bete', 'Biscoito', 'Love', 'Teatro', 'Zinco', 'Ameis', 'Bete', 'Biscoito', 'Love', 'Bete', 'Biscoito', 'Love', 'Bete', 'Biscoito', 'Love']

In [103]:
# Metodo insert: adiciona um elemento em uma posicao especifica
# Neste caso na TERCEIRA posicao (indice 2)
clientes.insert(2, "Intruso1")

In [104]:
# Neste caso na OITAVA posicao (indice 7)
clientes.insert(7, "Intruso2")

In [105]:
# Note que este metodo ALTERA a lista original
print(clientes)

['Nero', 'Atum', 'Intruso1', 'Bois', 'Alvares', 'Teatro', 'Zinco', 'Intruso2', 'Ameis', 'Bete', 'Biscoito', 'Love', 'Teatro', 'Zinco', 'Ameis', 'Bete', 'Biscoito', 'Love', 'Bete', 'Biscoito', 'Love', 'Bete', 'Biscoito', 'Love']

In [106]:
# Metodo index: retorna o indice de um elemento pre determinado
print(clientes.index("Intruso1"))
print(clientes.index("Intruso2"))

2
7

In [107]:
# Metodo pop: remove um elemento em uma posicao especifica
clientes.pop(2)
# Note que este metodo ALTERA a lista original
print(clientes)

['Nero', 'Atum', 'Bois', 'Alvares', 'Teatro', 'Zinco', 'Intruso2', 'Ameis', 'Bete', 'Biscoito', 'Love', 'Teatro', 'Zinco', 'Ameis', 'Bete', 'Biscoito', 'Love', 'Bete', 'Biscoito', 'Love', 'Bete', 'Biscoito', 'Love']

In [108]:
# Metodo remove: remove um elemento pre determinado
clientes.remove("Intruso2")
# Note que este metodo ALTERA a lista original
print(clientes)

['Nero', 'Atum', 'Bois', 'Alvares', 'Teatro', 'Zinco', 'Ameis', 'Bete', 'Biscoito', 'Love', 'Teatro', 'Zinco', 'Ameis', 'Bete', 'Biscoito', 'Love', 'Bete', 'Biscoito', 'Love', 'Bete', 'Biscoito', 'Love']

In [109]:
# Metodo reverse: inverte a ordem da lista
clientes.reverse()
# Note que este metodo ALTERA a lista original
print(clientes)

['Love', 'Biscoito', 'Bete', 'Love', 'Biscoito', 'Bete', 'Love', 'Biscoito', 'Bete', 'Ameis', 'Zinco', 'Teatro', 'Love', 'Biscoito', 'Bete', 'Ameis', 'Zinco', 'Teatro', 'Alvares', 'Bois', 'Atum', 'Nero']

In [110]:
# Metodo sort: ordena a lista
clientes.sort()
# Note que este metodo ALTERA a lista original
print(clientes) # Para strings, a ordem e alfabetica

['Alvares', 'Ameis', 'Ameis', 'Atum', 'Bete', 'Bete', 'Bete', 'Bete', 'Biscoito', 'Biscoito', 'Biscoito', 'Biscoito', 'Bois', 'Love', 'Love', 'Love', 'Love', 'Nero', 'Teatro', 'Teatro', 'Zinco', 'Zinco']

In [111]:
numeros = [2, 5, 1, 3, 4, 8, 10]
print(numeros)

[2, 5, 1, 3, 4, 8, 10]

In [112]:
numeros.sort()
print(numeros) # Para numeros, a ordem e crescente

[1, 2, 3, 4, 5, 8, 10]

In [113]:
numeros.sort(reverse = True)
print(numeros) # Ou decrescente

[10, 8, 5, 4, 3, 2, 1]

In [114]:
# Lista de interesses
interesses = ["Python", "Matematica", "IA", "IA", "Python", "Dados", "IA"]
# Metodo count: retorna a contagem de determinado elemento
print(interesses.count("Python"))
print(interesses.count("IA"))
print(interesses.count("Dados"))

2
3
1

In [115]:
# Metodo clear: limpa a lista
interesses.clear()
# Note que este metodo ALTERA a lista original
print(interesses)

[]

In [116]:
# Metodo copy: retorna uma copia da lista
clientes_novo = clientes.copy()
# Adicionando um registro na nova lista
clientes_novo.insert(0, "Intruso3")
# Comparando
print(clientes)
print(clientes_novo)

['Alvares', 'Ameis', 'Ameis', 'Atum', 'Bete', 'Bete', 'Bete', 'Bete', 'Biscoito', 'Biscoito', 'Biscoito', 'Biscoito', 'Bois', 'Love', 'Love', 'Love', 'Love', 'Nero', 'Teatro', 'Teatro', 'Zinco', 'Zinco']
['Intruso3', 'Alvares', 'Ameis', 'Ameis', 'Atum', 'Bete', 'Bete', 'Bete', 'Bete', 'Biscoito', 'Biscoito', 'Biscoito', 'Biscoito', 'Bois', 'Love', 'Love', 'Love', 'Love', 'Nero', 'Teatro', 'Teatro', 'Zinco', 'Zinco']

In [117]:
# Importando modulo
# (ou carregando biblioteca)
# (ou carregando pacote)
import statistics
print(statistics.mean([1, 2, 3, 4, 5]))

3

In [118]:
import statistics as stats
print(stats.mean([1, 2, 3, 4, 5]))

3

In [120]:
import pandas as pd
import matplotlib.pyplot as plt
# Exemplos de uso
# pd.read_excel(...)
# plt.plot(...)

In [121]:
from math import ceil
# Exemplos de uso
# (sem necessidade de escrever 'math' antes da funcao 'ceil')
ceil(5.8)

6

In [122]:
prod = 10
from math import * # opa, 'math' tem uma funcao que se chama 'prod'
print(prod) # "<built-in function prod>"

<built-in function prod>